<%- include("template/cabecera") %>
<%- include("partials/navigation") %>

<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Comanda Manager - Peccata Minuta</h1>
            <h3 class="mb-5">
                <em>Administra tu restaurant con Comanda Manager</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                ¡Empecemos!
            </a>
        </div>
        <img src="/img/logo_pecatta_minuta.png" alt="Logo Peccata Minuta" class="card-img-top mx-auto m-2 rounded-circle w-50">
    </header>
</main>