<%- include("template/cabecera") %>
<%- include("partials/navigation") %>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido <%=user.NOMBRE_EMPLEADO%></h3>
                    <h4><%=user.NOMBRE_USUARIO%></h4>
                    <a href="/productos/add" class="btn btn-primary m-4">
                        Registrar Producto
                    </a>
                    <a href="/comandas/add" class="btn btn-primary m-4">
                        Registrar Comanda
                    </a>
                    <a href="/ventas/add" class="btn btn-primary m-4">
                        Registrar Venta
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>