*{margin: 0; padding: 0;
box-sizing: border-box;}

.navbar{width: 100%;
background-image: linear-gradient(to right, #c81c20, #c81c20);}

body {
    background: #F5F6F5;
    font: 'Oswald',helvetica,sans-serif;
    overflow: hidden;
}

.index {
    width: 100vw;
    height: 100vh;
}
/*
.masthead{
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
}
*/