<%- include("../template/cabecera") %>
<%- include("../partials/navigation") %>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="POST">
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "nombre_producto" placeholder="Nombre Producto" autocomplete="off" autocomplete="chrome-off" autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" class= "form-control" name = "categoria_producto" placeholder="Categoria Producto" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "cantidad_producto" placeholder="Cantidad Producto" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type = "text" class= "form-control" name = "unidad_medida_producto" placeholder="Unidad de Medida" autocomplete="off" autocomplete="chrome-off">
                        </div>
                        <br>
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                    <% if(typeof validaciones != 'undefined') {%>
                        <% validaciones.forEach((validacion)=>{ %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong><%=validacion.msg%></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    <% })%>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</div>
