<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="POST">
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "nombre_producto" placeholder="Nombre Producto" autofocus>
                        </div>
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "cantidad_producto" placeholder="Cantidad Producto">
                        </div>
                        <div class="form-group">
                            <input type = "text" class= "form-control" name = "precio_compra" placeholder="Precio Compra">
                        </div>
                        <div class="form-group">
                            <input type = "text" class= "form-control" name = "precio_venta" placeholder="Precio Venta">
                        </div>
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

