<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="POST">
                        <div class="form-group col-lg-10">
                            <h3>PRODUCTOS ABARROTES</h3>
                            <select class="show-tick form-control noBSselect">
                                <option value="">---SELECCIONAR PRODUCTO---</option>
                                <option value="CHAMPIÑON EN TROZO" name="nombre_producto_abarrote">CHAMPIÑON EN TROZO</option>
                                <option value="CHAMPIÑON PIZERO" name="nombre_producto_abarrote">CHAMPIÑON PIZERO</option>
                                <option value="CHILE JALAPEÑO NACHOS" name="nombre_producto_abarrote">CHILE JALAPEÑO NACHOS</option>
                                <option value="CATSUP PORCION" name="nombre_producto_abarrote">CATSUP PORCION</option>
                                <option value="MIEL MAPLE PORCION" name="nombre_producto_abarrote">MIEL MAPLE PORCION</option>
                                <option value="MIEL DE ABEJA GALON" name="nombre_producto_abarrote">MIEL DE ABEJA GALON</option>
                                <option value="GRANOLA" name="nombre_producto_abarrote">GRANOLA</option>
                                <option value="HARINA DE TRIGO" name="nombre_producto_abarrote">HARINA DE TRIGO</option>
                                <option value="MAZECA" name="nombre_producto_abarrote">MAZECA</option>
                                <option value="HARINA PARA HOTCAKES" name="nombre_producto_abarrote">HARINA PARA HOTCAKES</option>
                                <option value="HARINA PARA MUFFIN DE CHOCOLATE" name="nombre_producto_abarrote">HARINA PARA MUFFIN DE CHOCOLATE</option>
                                <option value="HARINA PARA MUFFIN DE PIÑA COLADA" name="nombre_producto_abarrote">HARINA PARA MUFFIN DE PIÑA COLADA</option>
                                <option value="HARINA PARA MUFFIN DE VAINILLA" name="nombre_producto_abarrote">HARINA PARA MUFFIN DE VAINILLA</option>
                                <option value="COSTRA DE PIE" name="nombre_producto_abarrote">COSTRA PARA PIE</option>
                                <option value="TOPING DE PIE DE CEREZA" name="nombre_producto_abarrote">TOPING PARA PIE DE CEREZA</option>
                                <option value="MAYONESA" name="nombre_producto_abarrote">MAYONESA</option>
                                <option value="MOSTAZA" name="nombre_producto_abarrote">MOSTAZA</option>
                                <option value="MOSTAZA DIJON" name="nombre_producto_abarrote">MOSTAZA DIJON</option>
                                <option value="FRIJOL MAYOCOBA O PERUANO" name="nombre_producto_abarrote">FRIJOL MAYOCOBA O PERUANO</option>
                                <option value="ESPAGUETI" name="nombre_producto_abarrote">ESPAGUETI</option>
                                <option value="FUSILI" name="nombre_producto_abarrote">FUSILI</option>
                                <option value="PASTA LASSAGNA" name="nombre_producto_abarrote">PASTA LASSAGNA</option>
                                <option value="PASTA CODITI" name="nombre_producto_abarrote">PASTA CODITO</option>
                                <option value="PASTA PENNE" name="nombre_producto_abarrote">PASTA PENNE</option>
                                <option value="FIDEO NO 2" name="nombre_producto_abarrote">FIDEO NO 2</option>
                                <option value="ACEITE PARA FREIDOR" name="nombre_producto_abarrote">ACEITE PARA FREIDOR</option>
                                <option value="ACEITE DE OLIVA" name="nombre_producto_abarrote">ACEITE DE OLIVA</option>
                                <option value="VINAGRE DE MANZANA" name="nombre_producto_abarrote">VINAGRE DE MANZANA</option>
                                <option value="VINAGRE BALSAMICO" name="nombre_producto_abarrote">VINAGRE BALSAMICO</option>
                                <option value="ADEREZO RANCH" name="nombre_producto_abarrote">ADEREZO RANCH</option>
                                <option value="ADEREZO CESAR" name="nombre_producto_abarrote">ADEREZO CESAR</option>
                                <option value="ADEREZO MOSTAZA Y MIEL" name="nombre_producto_abarrote">ADEREZO MOSTAZA Y MIEL</option>
                                <option value="PANKO" name="nombre_producto_abarrote">PANKO</option>
                                <option value="PAN MOLIDO" name="nombre_producto_abarrote">PAN MOLIDO</option>
                                <option value="CRUTONES" name="nombre_producto_abarrote">CRUTONES</option>
                                <option value="JUGO MAGUI" name="nombre_producto_abarrote">JUGO MAGUI</option>
                                <option value="SALSA INGLESA" name="nombre_producto_abarrote">SALSA INGLESA</option>
                                <option value="SALSA SOJA" name="nombre_producto_abarrote">SALSA SOJA</option>
                                <option value="SALSA SONORA NATURAL" name="nombre_producto_abarrote">SALSA SONORA NATURAL</option>
                                <option value="VINO TINTO" name="nombre_producto_abarrote">VINO TINTO</option>
                                <option value="VINO BLANCO" name="nombre_producto_abarrote">VINO BLANCO</option>
                                <option value="CHILE CHIPOTLE" name="nombre_producto_abarrote">CHILE CHIPOTLE</option>
                                <option value="NUEZ PELADA" name="nombre_producto_abarrote">NUEZ PELADA</option>
                                <option value="" disabled="true">---ESPECIAS---</option>
                                <option value="PIMIENTA NEGRA MOLIDA" name="nombre_producto_abarrote">PIMIENTA NEGRA MOLIDA</option>
                                <option value="OREGANO" name="nombre_producto_abarrote">OREGANO</option>
                                <option value="ALBAHACA" name="nombre_producto_abarrote">ALBAHACA</option>
                                <option value="ROMERO" name="nombre_producto_abarrote">ROMERO</option>
                                <option value="CURRY" name="nombre_producto_abarrote">CURRY</option>
                                <option value="PAPRIKA" name="nombre_producto_abarrote">PAPRIKA</option>
                                <option value="AJO GRANULADO" name="nombre_producto_abarrote">AJO GRANULADO</option>
                                <option value="SAL GRUESA" name="nombre_producto_abarrote">SAL GRUESA</option>
                                <option value="SAL FINA" name="nombre_producto_abarrote">SAL FINA</option>
                                <option value="ESTRAGON" name="nombre_producto_abarrote">ESTRAGON</option>
                                <option value="PEREJIL SECO" name="nombre_producto_abarrote">PEREJIL SECO</option>
                                <option value="AJO FRESCO PICADO" name="nombre_producto_abarrote">AJO FRESCO PICADO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "cantidad_producto_abarrotes" placeholder="Cantidad Producto">
                        </div>
                        <div class="form-group col-lg-10">
                            <select class="show-tick form-control noBSselect">
                                <option value="">---UNIDAD DE MEDIDA---</option>
                                <option value="KG" name="unidad_producto_abarrotes">KG</option>
                                <option value="LT" name="unidad_producto_abarrotes">LT</option>
                                <option value="GALON" name="unidad_producto_abarrotes">GALON</option>
                                <option value="PIEZA" name="unidad_producto_abarrotes">PIEZA</option>
                                <option value="LATA GDE" name="unidad_producto_abarrotes">LATA GDE</option>
                                <option value="LATA MED" name="unidad_producto_abarrotes">LATA MED</option>
                                <option value="BOLSA GDE" name="unidad_producto_abarrotes">BOLSA GDE</option>
                                <option value="BOTE GDE" name="unidad_producto_abarrotes">BOTE GDE</option>
                                <option value="BOTE" name="unidad_producto_abarrotes">BOTE</option>
                                <option value="GARRAFA" name="unidad_producto_abarrotes">GARRAFA</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>