<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="POST">
                        <div class="form-group col-lg-10">
                            <h3>PRODUCTOS DESECHABLES Y LIMPIEZA</h3>
                            <select class="show-tick form-control noBSselect">
                                <option value="">---SELECCIONAR PRODUCTO---</option>
                                <option value="" disabled="true">---DESECHABLES---</option>
                                <option value="VASO TERMICO CON TAPA LITRO" name="nombre_producto_dl">VASO TERMICO CON TAPA LITRO</option>
                                <option value="VASO 12 TERMICO CON TAPA" name="nombre_producto_dl">VASO 12 TERMICO CON TAPA</option>
                                <option value="VASO 16 TRANSPARENTE CON TAPA" name="nombre_producto_dl">VASO 16 TRANSPARENTE CON TAPA</option>
                                <option value="CUARTO DE LITRO TERMICO CON TAPA" name="nombre_producto_dl">CUARTO DE LITRO TERMICO CON TAPA</option>
                                <option value="VASO TRANSPARENTE 2 OZ CON TAPA" name="nombre_producto_dl">VASO TRANSPARENTE 2 OZ CON TAPA</option>
                                <option value="CONTENEDOR 8 POR 8 LISO" name="nombre_producto_dl">CONTENEDOR 8 POR 8 LISO</option>
                                <option value="CONTENEDOR 8 POR 8 CON DIVISIONES" name="nombre_producto_dl">CONTENEDOR 8 POR 8 CON DIVISIONES</option>
                                <option value="" disabled="true"></option>
                                <option value="VITAFILM" name="nombre_producto_dl">VITAFILM</option>
                                <option value="ALUMINIO" name="nombre_producto_dl">ALUMINIO</option>
                                <option value="PAPEL ENCERADO" name="nombre_producto_dl">PAPEL ENCERADO</option>
                                <option value="BOLSAS PARA BASURA JUMBO" name="nombre_producto_dl">BOLSAS PARA BASURA JUMBO</option>
                                <option value="BOLSA CAMISETA GRANDE" name="nombre_producto_dl">BOLSAS CAMISETA GRANDE</option>
                                <option value="BOLSA PARA BASURA GRANDE" name="nombre_producto_dl">BOLSA PARA BASURA GRANDE</option>
                                <option value="" disabled="true"></option>
                                <option value="GUANTES DE LATEX" name="nombre_producto_dl">GUANTES DE LATEX</option>
                                <option value="TAPA BOCAS" name="nombre_producto_dl">TAPA BOCAS</option>
                                <option value="REDES PARA CABELLO" name="nombre_producto_dl">REDES PARA CABELLO</option>
                                <option value="" disabled="true"></option>
                                <option value="DESENGRASANTE" name="nombre_producto_dl">DESENGRASANTE</option>
                                <option value="JABON LIQUIDO PARA PLATOS" name="nombre_producto_dl">JABON LIQUIDO PARA PLATOS</option>
                                <option value="JABON PARA MANOS" name="nombre_producto_dl">JABON PARA MANOS</option>
                                <option value="TOALLA PARA MANOS" name="nombre_producto_dl">TOALLA PARA MANOS</option>
                                <option value="SERVILLETA DE MESA" name="nombre_producto_dl">SERVILLETA DE MESA</option>
                                <option value="LIMPIA PISOS" name="nombre_producto_dl">LIMPIA PISOS</option>
                                <option value="TRAPEADOR" name="nombre_producto_dl">TRAPEADOR</option>
                                <option value="ESCOBA" name="nombre_producto_dl">ESCOBA</option>
                                <option value="RECOGEDOR" name="nombre_producto_dl">RECOGEDOR</option>
                                <option value="JALADORES" name="nombre_producto_dl">JALADORES</option>
                                <option value="FIBRAS" name="nombre_producto_dl">FIBRAS</option>
                                <option value="CEPILLOS PARA PLANCHA" name="nombre_producto_dl">CEPILLOS PARA PLANCHA</option>
                                <option value="FIBRAS METALICAS" name="nombre_producto_dl">FIBRAS METALICAS</option>
                                <option value="CLORO" name="nombre_producto_dl">CLORO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type = "text" class = "form-control" name = "cantidad_producto_dl" placeholder="Cantidad Producto">
                        </div>
                        <div class="form-group col-lg-10">
                            <select class="show-tick form-control noBSselect">
                                <option value="">---UNIDAD DE MEDIDA---</option>
                                <option value="CAJA 500 PZAS" name="unidad_producto_dl">CAJA 500 PZAS</option>
                                <option value="ROLLO GDE" name="unidad_producto_dl">ROLLO GDE</option>
                                <option value="CAJAS" name="unidad_producto_dl">CAJAS</option>
                                <option value="PAQ DE 50" name="unidad_producto_dl">PAQ DE 50</option>
                                <option value="KG" name="unidad_producto_dl">KG</option>
                                <option value="GARRAFAS" name="unidad_producto_dl">GARRAFAS</option>
                                <option value="GALONES" name="unidad_producto_dl">GALONES</option>
                                <option value="PIEZAS" name="unidad_producto_dl">PIEZAS</option>
                                <option value="PAQ DE 20" name="unidad_producto_dl">PAQ DE 20</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class = "btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>